.cart__title {
    text-align: left;
    margin: 1rem 0;
}
.headphones__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart__all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart__all_buy {
    margin-right: 1rem;
}
.cart__all__check {
    flex: 0 1 auto;
    width: 19rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    justify-content: space-between;
}
.cart__all__check__money>div {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.cart__all__check__money {
    padding: 1rem;
}

.cart__all__check__move {
    background-color: black;
    color: white;
    border-radius: 1rem;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}